.buttons-container {
    width: 100%;
    text-align: center;

    .button {
        background-color: #eee;
        color: #666;
        line-height: 1em;
        transition: .32s all ease;

        + .button {
            margin-left: 16px;
        }

        &:hover {
            background-color: var(--accent-color);
            color: #fff;
        }

        &.__isRecording {
            background-color: #fff;
            color: #1a1b1c; // black
            .recording-icon {
                color: #ba0202;
                animation: recordAnimation 0.8s infinite;
            }
        }

        &.__isLoading {
            background-color: var(--accent-color);
            color: #fff;

            .loading-icon {
                animation: loadingAnimation 1s infinite linear;
                display: inline-block;
                transform-origin: center center;
            }
        }

        .recording-icon {
            margin-right: 8px;
        }
    }
}

.toggle-button {
    position: fixed;
    top: 18px;
    right: 18px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 72px;
        height: 72px;
    }

    .jao-icon-cell[v="0"] {
        fill: white;
        transition: fill 0.32s ease;
    }

    .jao-icon-cell[v="1"] {
        fill: black;
        transition: fill 0.32s ease;
    }

    &:hover {
        .jao-icon-cell[v="0"] {
            fill: black;
        }

        .jao-icon-cell[v="1"] {
            fill: white;
        }
    }
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
