@forward 'normalize.css';
@forward './variables.scss';
@forward './fonts.scss';
@forward './buttons-container.scss';
@forward './option-groups.scss';
@forward './app.scss';

* {
    box-sizing: border-box;
}

.dev-only {
    display: none;
}

body.dev .dev-only {
    display: block;
}